* {
	animation: none 0s ease 0s 1 normal none running;
	backface-visibility: visible;
	background: transparent none repeat 0% 0% / auto auto padding-box border-box scroll;
	border: medium none currentColor;
	border-radius: 0;
	border-collapse: separate;
	border-image: none;
	border-spacing: 0;
	bottom: auto;
	box-shadow: none;
	box-sizing: content-box;
	caption-side: top;
	clear: none;
	clip: auto;
	color: inherit;
	columns: auto;
	column-count: auto;
	column-fill: balance;
	column-gap: normal;
	column-rule: medium none currentColor;
	column-span: 1;
	column-width: auto;
	content: normal;
	counter-increment: none;
	counter-reset: none;
	cursor: auto;
	direction: ltr;
	display: inline;
	empty-cells: show;
	float: none;
	font: inherit;
	height: auto;
	hyphens: none;
	left: auto;
	letter-spacing: normal;
	line-height: inherit;
	list-style: disc outside none;
	margin: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	opacity: 1;
	orphans: 0;
	outline: medium none invert;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	perspective: none;
	perspective-origin: 50% 50%;
	position: static;
	right: auto;
	tab-size: 8;
	table-layout: auto;
	text-align: inherit;
	text-align-last: auto;
	text-decoration: none solid currentColor;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	top: auto;
	transform: none;
	transform-origin: 50% 50% 0;
	transform-style: flat;
	transition: none;
	unicode-bidi: normal;
	vertical-align: baseline;
	visibility: inherit;
	white-space: normal;
	widows: 0;
	width: auto;
	word-spacing: normal;
	z-index: auto;
	box-sizing: border-box;
	display: flex;
	flex: none;
	flex-direction: column;
}

*::before,
*::after {
	box-sizing: border-box;
	display: flex;
	flex: none;
}

head,
script {
	display: none;
}

html {
	height: 100%;
	font-size: 0.5px;
	
	@media (min-width: 576px) {
		font-size: 1px;
	}
}

a[href],
button,
[type='button'] {
	&:hover {
		cursor: pointer;
	}
}

p,
span {
	display: inline-block;
	// hyphens: auto;
}

main {
	flex-grow: 1;
}

body {
	height: 100%;
	font-size: 16rem;
	line-height: 1.25;
	background-color: rgb(234, 20, 60);
	color: white;
	max-width: 640px;
	align-self: center;
	text-align: center;
}

.btn {
	padding: 24rem;
	width: 100%;
	max-width: 468rem;
	align-self: center;
	justify-content: center;
	box-shadow: 0 13px 21px rgba(255, 240, 0, 0.31);
	border-radius: 44rem;
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(to top, rgb(247, 187, 0) 0%, rgb(247, 207, 0) 100%);
	margin-bottom: 36rem;
	
	text-align: center;
	font-family: 'SFUI Display';
	font-size: 45rem;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	
	&:hover {
		box-shadow+: 0 13px 21px rgba(255, 240, 0, 0.31);
		box-shadow+: inset 0 0 20px rgba(255, 255, 255, 0.5);
	}
}

body > header {
	min-height: 100vh;
	// justify-content: center;
}

.logo {
	padding-top: 24rem;
	padding-bottom: 64rem;
	align-items: center;
}

.container {
	width: 100%;
	// max-width: 640px;
	// padding-right: 15px;
	// padding-left: 15px;
	//
	// @media (min-width: 576px) {
		padding-right: 44rem;
		padding-left: 44rem;
	// }
}

.top_screen {
	line-height: 1;
	padding-bottom: 130rem;

	margin-top: auto;
	margin-bottom: auto;
	
	.block {
		align-items: center;
		padding: 42rem;
		border-radius: 40px;
		background-color: rgb(5, 0, 208);
		background-image: linear-gradient(-45deg, rgb(19, 14, 59) 0%, rgb(129, 2, 122) 100%);
		
		[alt='boii'] {
			width: 362rem;
			height: 375rem;
			margin-top: -104rem;
			margin-bottom: 54rem;
		}
	}
}

b {
	font-family: 'SFUI Display';
	font-size: 44rem;
	font-weight: 700;
}

h2 {
	font-family: 'SFUI Display - Semibold';
	font-size: 40rem;
	font-weight: 400;
	margin-bottom: 54rem;
}

.manual {
	align-items: center;
	padding-top: 55rem;
	background-color: black;
	position: relative;
	padding-bottom: 30rem;
	
	&::before {
		display: flex;
		position: absolute;
		content: '';
		width: 308rem;
		height: 58rem;
		top: -58rem;
		background: svg-load('../img/arrow_downnext.svg');
		background-size: contain;
	}
	
	ol {
		counter-reset: i;
		
		li {
			align-items: center;
			font-family: 'SFUI Display - Semibold';
			font-size: 30rem;
			font-weight: 400;
			margin-bottom: 68rem;

			&:last-child p {
				margin-bottom: 60rem;
			}
			
			p {
				margin-bottom: 30rem;
			}
			
			&::before {
				counter-increment: i;
				content: counter(i);
				width: 70rem;
				height: 70rem;
				background-color: rgb(234, 20, 60);
				border-radius: 50%;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-family: 'SFUI Display - Heavy';
				font-size: 52rem;
				font-weight: 400;
				margin-bottom: 28rem;
			}
		}
	}

	.btn {
		font-family: "SFUI Display - Heavy";
		font-size: 51rem;
		font-weight: 400;
	}
}

figure {
	img {
		margin-bottom: 10rem;
	}

	&.icon {
		img {
			width: 102rem;
			height: 102rem;
		}
	}
	
	figcaption {
		font-family: 'SFUI Display';
		font-size: 22rem;
		font-weight: 400;
		margin-bottom: 30rem;
	}
}

img {
	max-width: 100%;
}

.logo img {
	 width: 286rem;
	 height: 65rem;
	 align-self: center;
}
